<%- include('partials/html-start.ejs') %>

<h1>Mel's Books App</h1>



<br>
<p>
    <%= bookData.length %>  
</p>

<h3>Books</h3>

<form method="POST" action="/addBook">
    <label for="bookName">Add a Book</label>
    <input name="bookName" placeholder="new book name">
    <input type="submit" value="add a new book" />
</form>



<h3> Current Books</h3>
<% for (var i=0; i< bookData.length; i++ ) { %>
    <form method="POST" action="/deleteBook/<%= bookData[i]._id %>" style="display: inline-block">
        <%= bookData[i].bookName %> (<%= bookData[i].size %>)
                <input type="submit" value="delete">
        
    </form>

    <form method="POST" action="/updateBook/<%= bookData[i]._id %>" style="display: inline-block">
                
        <input type="submit" value="update">
</form>
    <br />
    <% } %>
        

 